:root {
	--green: #00ff00;
	--yellow: #d1c434;
	--gray: #808080;
}

.GameTile {
	width: 40px;
}

.YellowTile {
	background-color: var(--yellow);
	color: white;
}

.GreenTile{
	background-color: green;
	color: white;
}

.GrayTile{
	background-color: gray;
	color: white;
}

.GameLabel {
	border: 3px solid gray;
	display: block;
	width: 8VW;
	height: 8VW;
	font-size: 4VW;
	text-align: center;
	font-weight: bold;

}
.GameView {
	display: grid;
	grid-template-areas: "title gameRowList submit"
						 "empty keyboard temp"; 
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 2fr 1fr;
}

.KeyboardDisplay{
	grid-area: keyboard;
	display: grid;
	
}

.KeyBoardButton{
	width: 4VW;
	height: 6VW;
	font-size: 2VW;
	text-align: center;
	color: black;

	
}

.GreenKeyboardButton{
	width: 4VW;
	height: 6VW;
	font-size: 2VW;
	text-align: center;
	background-color: green;
	color: white;

	
}
.YellowKeyboardButton{
	width: 4VW;
	height: 6VW;
	font-size: 2VW;
	text-align: center;
	background-color: var(--yellow);
	color: white;

	
}
.GrayKeyboardButton{
	width: 4VW;
	height: 6VW;
	font-size: 2VW;
	text-align: center;
	background-color: gray;
	color: white;

	
}
.GameRowList{
	display: gameRowList;
}

.Title{
	display: title;
}

.SubmitButton{
	display: submit;
}